/*MAIN*/
.mt-3, .my-3 {
  margin-left: 150px;
  margin-right: 150px;
}
/*MAIN*/

/*NAV*/
.navbar {
  position: absolute;
  justify-content: space-between;
  padding: .5rem 1rem;
  width: 150px;
  height: 100vh;
  align-items: start;
}

.sidebar-nav{
  position: absolute;
  right:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 1rem;
  width: 150px;
  height: 100%;
}

.bg-dark {
  background-color: #F5F5FA!important;    
  margin-top: -15px;
}

a.nav-link, a.navbar-brand {
  color:#333!important;
}
a.nav-link:hover, a.navbar-brand:hover {
  color:rgba(51, 51, 51, 0.5)!important;
}
/*NAV*/

/*BUTTOM*/
.btn-success {
  color: #fff;
  background-color: #6282EC;
  border-color: #6282EC;
}

.btn-success:hover {
  color: #fff;
  background-color: rgba(98, 130, 236, 0.5);
  border-color: rgba(98, 130, 236, 0.5);
}
/*BUTTOM*/

/*POSTS*/
.list-group-item {
  z-index: 2;
  background-color: hsla(347, 39%, 93%, 0.5);
  border-color: hsla(347, 39%, 93%, 0.5);
}

.list-group-item.active {
  z-index: 2;
  background-color: hsla(347, 39%, 93%, 1);
  border-color: hsla(347, 39%, 93%, 1);
}

.list-group-item+.list-group-item {
  margin-top: 15px;
  border-top-width: 1px;
}
/*POSTS*/

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
