#root{
  text-align: center;
}
h3{
  text-align: center;
}

a{
color:black;
}
 
ol, ul {
  padding: 0;
}

li{
  list-style: none;
  color:black;
}

.background-yellow {
  background: yellow;
}

.background-orange {
  background: orange;
  background: orange;
  background: orange;
}

.background-blue {
  background: blue;
}

.background-green {
  background: green;
}

.background-gray{
  background-color: gray;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.Footer-link {
  text-align: right;
}

.img-with-text img{
  max-width:360px;
  }

.img-with-text {
margin: auto;
max-width:360px;
width: calc(100vw - 16px);
}

.img-text {
margin: auto;
max-width:768px;
width: calc(100vw - 16px);
}

/******* BURGERBAR******/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  width: 36px!important;
  height: 30px!important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  
  /*width: calc(100vw - 16px)!important;*/
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  /*width: calc(100vw - 16px);*/
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0)!important;
}
/******* BURGERBAR******/

/******* LOGIN******/
.wrapper {
  padding: 0px;
}
/******* LOGIN******/